{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "eol-last": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "global-require": 0
  }
}
